/* General page styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:
        linear-gradient(to bottom, #f8f8ff, turquoise),
        url('../img/foggy-birds.png');
    background-blend-mode: multiply;
    background-size: auto;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: turquoise;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
    padding: 0 1.25rem;
    background-color: #333;
}

#brand-container a {
    padding: 0.625rem;
    color: turquoise;
    text-decoration: none;
} 

#brand-container a:hover {
    color: #f8f8ff;
}

#brand-container a:active {
    color: #e8e8e8;
}

#nav-items {
    display: flex;
    gap: 0.625rem;
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 0.3125rem 0.625rem;
    color: #f8f8ff;
    text-decoration: none;
}

.nav-item:hover {
    color: turquoise;
}

.nav-item:active {
    color: #3AC7B9;
}

#content-wrapper {
    padding: 4.625rem 1.25rem 3.125rem 1.25rem;
}

.content-container {
    background-image:
        linear-gradient(to bottom, #f8f8ff, turquoise),
        url('../img/foggy-birds.png');
    background-blend-mode: multiply;
    background-size: auto;
    scroll-margin-top: 4.625rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #f8f8ff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

h2, h4 {
   color: #333; 
}

.content-item {
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #f8f8ff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.btn {
    flex: 1;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #333;
    color: #f8f8ff;
}

.btn:hover {
    color: turquoise;
}

.btn:active {
    color: #f8f8ff;
    background-color: turquoise;
}

.project-details {
    word-wrap: break-word;
    text-align: center;
}

.hidden {
    display: none;
}

.emoji-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 3.5rem;
    transition: transform 0.05s ease;
}

.emoji-btn:hover {
    transform: scale(1.1);
}

.emoji-btn:active {
    transform: scale(1);
    filter: brightness(0.9);
}


#hidden-hunt-link img {
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: transform 0.05s ease;
}

#hidden-hunt-link img:hover {
    transform: scale(1.05);
}

#hidden-hunt-link img:active {
    transform: scale(1);
    filter: brightness(0.9);
}


#contact-form {
    max-width: 18.75rem;
    margin: 0 auto;
    padding: 0.625rem;    
    border: none;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 1px solid #333;
    border-radius: 0.625rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-container {
    display: flex;
    gap: 0.625rem;
}

.clear-btn:active {
    color: turquoise;
    background-color: #e8e8e8;
}

.error-message {
    color: red;
    font-size: 0.875rem;
}

.success-message-container {
    text-align: center;
    color: turquoise;
}

.success-message {
    color: turquoise;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3125rem 0;
    text-align: center;
    font-size: smaller;
    background-color: #000000c3;
    color: #f8f8ff;
    backdrop-filter: blur(0.3125rem);
    -webkit-backdrop-filter: blur(0.3125rem);
}

/* Media queries for responsive design */
@media (max-width: 37.5rem) {
    header {
    position: absolute;
    }

    #nav-items {
        flex-direction: column;
        gap: 0.3125rem;
        align-items: center;
    }
    
    #nav-items li {
        width: 100%;
    }

    .nav-item {
        display: block;
        text-align: center;
    }

    #content-wrapper {
        padding-top: 10.25rem;
    }
}
